header{
  background-image: url(../image/header.jpg);
  background-size: cover;
  height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center
}
h1{
  font-family: 'Playfair display', serif;
  font-size: 20em;
}
ul{
  display: flex;
  justify-content: space-around;
  align-items: center; /*enléve les puces */
  list-style-type: none; /* définit la hauteur de la liste mm hauteur que nav */
  height: 50px;
}
li > a{
  color: #000000;
  font-size: 3em; /* enleve le trait de soulignmt */
  text-decoration: none;
}
li > a:hover{
  color: #ffffff; /*change de couleur qd on passe dessus */
}
nav{
  background-color: #84b9bd;
  height: 50px;
  margin: -20px;
}

div{
  font-size: 3em;
  text-align: center;
  background-color:  #84b9bd;
  margin: 0 20em 0 20em
}
#article1 gauche {
  background-image: url('../image/plage.jpg');
  background-size: 30%;
  height: 300px;
  width: 100%;
  float: left; /* float - position:relative - position:absolute - box-shadow - border-radius*/
}
#article1 h1{
  text-align: center;
}
.article p{
  font-family: fantasy;
  text-align: center;
}
#article2 milieu {
  background-image: url('../image/appartement.jpg');
  background-size: 30%;
  height: 300px;
  width: 100%;
  float: left;
}
#article1 h1{
  text-align: center;
}
.article p{
  font-family: fantasy;
  text-align: center;
}
#article3 droite {
  background-image: url('../image/manhattan.jpg');
  background-size: 30%;
  height: 300px;
  width: 100%;
  float: left;
}
#article1 h1{
  text-align: center;
}
.article p{
  font-family: fantasy;
  text-align: center;
}
