header{
  background-image: url(../image/header.jpg);
  background-size: cover;
  height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center
}
h1{
  font-family: 'Playfair display', serif;
  font-size: 20em;
}
ul{
  display: flex;
  justify-content: space-around;
  align-items: center; /*enléve les puces */
  list-style-type: none; /* définit la hauteur de la liste mm hauteur que nav */
  height: 50px;
}
li > a{
  color: #000000;
  font-size: 3em; /* enleve le trait de soulignmt */
  text-decoration: none;
}
li > a:hover{
  color: #ffffff; /*change de couleur qd on passe dessus */
}
nav{
  background-color: #84b9bd;
  height: 50px;
  margin: -20px;
}

#présentation{
  font-size: 3em;
  text-align: center;
  background-color:  #84b9bd;
  margin: 0 20em 0 20em
}

#container{
  display: flex;
}
#article1 gauche {
  text-align: center;
  font-family: fantasy;
  text-align: center;
}
#article2 milieu {
  text-align: center;
  font-family: fantasy;
  text-align: center;
}
#article3 droite {
  text-align: center;
  font-family: fantasy;
  text-align: center;
}
